h1{     
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 10px 0px;
    font-style: initial;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    word-wrap: normal;
    /* border: 2px solid rgb(95, 92, 64); */
 }
 .backH1 {
   /* background-image: url("../components/imgs/full.png"); */
   background-size: 250px;
   background-attachment: inherit;
   background-position: center;
   background-repeat: no-repeat;
   background-position-y: 5px;
   color: rgba(247, 245, 127, 0.986);
   /* background-color: beige; */
  }
 h3{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 20px;
  font-style: italic;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .title-info{
  color: rgb(207, 225, 241);
 }
  p{
    text-align: center;
    color: rgb(203, 204, 195);
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    /* margin-left: 100px; */
    /* margin-right: 100px; */
  }
 /* respons max-width media only screen  */
 /* @media only screen and( max-width:1340px ){} */
 