.tel-num{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 25px ;
    font-style: normal;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    word-wrap: normal;
    font-size: 25px;
    margin-top: 5px ;

}
.tel-popis{
    font-style: normal;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    word-wrap: normal;
    font-size: 20px;
    margin-top: 1px ;
    font-size: 15px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all-area{
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.637);
    padding: 5px ;
}
.text{
    margin-top: 5px;
    margin-bottom: -6px;
    font-style: normal;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    word-wrap: normal;
    font-size: 15px;

}
.email{
    margin-bottom: -6px;
    font-style: normal;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    word-wrap: normal;
    font-size: 15px;

}
.odpoved{
    margin-bottom: 8px;
    width: 190px;
    height: 190px;
    font-style: normal;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    word-wrap: normal;
    font-size: 15px;
}
.odeslat{
    padding: 2px 15px 2px 15px;
    margin-bottom: 20px;
    font-style: normal;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    word-wrap: normal;
    font-size: 15px;

}
