.allfooter{
    /* border:  2px solid rgba(250, 10, 10, 0.541); */
    background-color: rgba(71, 71, 71, 0.664);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 0px;

    }
    .origin{
        width: 350px;
        text-align: center;
        padding: 2px;
        margin-top: 15px;
        font-size: 12px;
        font-style: normal;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        
    
    }
 