

    .backlogo{
        display: inline-block;
        margin-top: 15px;
        width: 100%;
        background-position: center;
        background-color: rgba(43, 38, 0, 0.144);
        box-shadow:5px 5px 10px #000;
        }
    .Logo-png{
           border: 2px solid rgba(43, 38, 0, 0.034);
           width: 25%;

        }
    
    .logo-link{
        text-decoration: none;
        display:flex ;
        flex-direction: row;
        justify-content: center;       
    }
    
    /* respons max-width media only screen  */
    /* @media only screen and(max-width:1340px){} */
   