  /* Media Query pro malé obrazovky (max-width: 600px) */
@media only screen and (max-width: 600px) {
    .text-query{
 width: 100%;
 align-items: center;


    }
    .gallery-section {
        
        width: 96%;
        
    }
    #photo{
       
        border-radius: 5%;       
        width: 100%;
        height: 100%;
    }
    p{
      
      margin-left: 90px;
      margin-right: 90px;
      text-align: center;
    }
    .title-info{
      margin-left: 90px;
      margin-right: 90px;
      text-align: center;
    }
    .Logo-png{
      width: 250px;
    }
  /* Přidejte další úpravy pro malé obrazovky zde */
  }
  
  /* Media Query pro střední obrazovky (min-width: 601px a max-width: 1024px) */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .text-query{
width: 80%;
text-align: center;
    }
    .gallery-section {
        /* border: 2px solid red; */
        width: 100%;
        height: auto;
    }
    .gallery-section {
        width: 96%;
        
    }
    #photo{
        
        border-radius: 5%;       
        
    }
    p{

      margin-left: 100px;
      margin-right: 100px;
    }
    .title-info{
      margin-left: 150px;
      margin-right: 150px;
      text-align: center;
    }
    .Logo-png{
      width: 250px;
    }
    /* Přidejte další úpravy pro střední obrazovky zde */
  }
  
  /* Media Query pro velké obrazovky (min-width: 1025px) */
  @media only screen and (min-width: 1025px) {
    .text-query{
     width: 100%;
     text-align: center;
    }
    p{
 
      margin-left: 300px;
      margin-right: 300px;
      text-align: center;
    }
    .title-info{
      margin-left: 250px;
      margin-right: 250px;
      text-align: center;
    }
  /* Přidejte další úpravy pro velké obrazovky zde */
  }